@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  
// ≥768px
+media-breakpoint-down(sm)
  .bg
    background-size: 100% 100%
  .logo_big
    width: 280px
    height: 270px
    top: 40%
  .logo_medium
    width: 210px
    height: 190px
    top: 54%
  .logo_small
    width: 170px
    height: 150px
    top: 65%
  .dark-theme
    .image_block
      top: 0
    .header_block
      margin-top: 0
      display: flex
      justify-content: center
      .header
        position: static
        justify-content: center
        left: 0
        right: 0
        transform: 0 !important
        font-size: 40px
      .header-img
        left: 50%!important
        transform: translate(-50%, -0%) !important
    .contact
      .contact_header
        left: 50%
        position: relative
        font-size: 33px
      .textarea
        min-height: 100px
    .right-info
      text-align: left
    .diagram_block
      float: none
      text-align: center
    .capabilities 
      margin-top: 120px
      .box
        margin-top: 20px
        img 
          margin-top: 20px
      .emotion
        margin-top: 40px
    .services
      margin-top: 120px
    .how_it_works
      margin-top: 0px
  .img_height
    height: 500px
    display: none
  .media_about
    display: block
    height: 350px
    margin-top: 42px
  .media_services
    display: block
  .bg-footer
    margin-top: 0
  .image_block_s
    margin-top: 42px
  .d_none_b
    display: none

// ≥576px
+media-breakpoint-down(xs)
  .dark-theme
    .capabilities
      margin-top: 42px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
